.row
  %article.item_portfolio.col-sm-12.col-md-8.col-lg-8
    .portfolio
      %h3
        Audiciones & Trabajos

      %hr
      -@jobs.each do |job|
        .media
          .pull-left
            %picture
              = image_tag (job.picture), :class=>"img_job"
          .media-body
            .media-heading
              %h4
                = link_to job.name, home_job_path(job)
              %p.text-muted
                %small
                  %span.icon-direction
                  %em
                    ="#{job.ubication}"
                |
                %small
                  %span.icon-calendar
                  %em
                    ="#{job.date_end}"
              %p
                =truncate(job.description, :length => 250)
        %hr
  %article.item_portfolio.col-sm-12.col-md-4.col-lg-4
    .portfolio
      %p
        %h4
          Tags
        - @tags.each do |f|
          = f.name
          = " - "
