
<div class="row">
  <div div class="small-12 large-12 columns">
    <h1 class="subheader">Registrate</h1>
    <p>Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks</p>
  </div>


  <div div class="small-6 large-8 columns">
  <%= form_for(resource, :as => resource_name, :html => {:multipart => true , :class=>"custom"}, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div class="register">
      <div class="row">
        <div class="large-12 columns">
          <%= f.text_field :name , :placeholder => "Nombre"%>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.email_field :email , :placeholder => "Email"%>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.password_field :password , :placeholder => "Password"%>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
         <%= f.password_field :password_confirmation , :placeholder => "Confirmation Password"%>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
         <%= f.text_area :description  , :placeholder => "Descripcion"%>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
         <%= f.text_field :subdomain  , :placeholder => "Username"%>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <%= f.select(:_type, [['Model', 'Model'], ['Agent', 'Agent']]) %>
        </div>   
      </div>   
        <div><%= f.submit "Sign up", :class =>" button success radius expand" %></div>
    </div>
    <% end %>

  </div>



  <div div class="small-6 large-4 columns">
    <h3 class="subheader">Beneficios </h3>
    <ul class="disc">
      <li>lorem</li>
      <li>lorem</li>
      <li>lorem</li>
    </ul>
    <%= render "devise/shared/links" %>

  </div>

</div>