.col-sm-12.col-md-9.col-lg-9
	=render 'akira/partials/nav_profile'
	%br
	.center
		%h3
			Ofertas
		%hr
		- if current_user._type == "Agent"
			.pull-right
				= link_to "Crear Oferta" , new_akira_user_job_path(current_user), :class =>"btn btn-info pull-right"
	.stream

		-@jobs.each do |job|
			.media
				.pull-left
					=  image_tag job.picture_url(:thumb).to_s , :class => "img_"
				.media-body
					%h4
						=job.name
					%p
						%small
							%span.icon-direction
								= job.ubication
							|
							%span.icon-calendar
								= job.date_end
					%p
						=truncate(job.description, :length => 100)
			.text-right
				- if current_user._type == "Agent"
					%span.icon-pencil
						= link_to "Editar" , edit_akira_user_job_path(current_user ,job)
						|
				%span.icon-zoom-in
					= link_to "Ver mas" , akira_user_job_path(current_user ,job)
			%hr