= form_for(@model, :url => akira_model_path) do |f| 
  -if @model.errors.any? 
    -@model.errors.full_messages.each do |msg| 
      =msg 

  = render "partial/user_general" , f: f 
 
  = f.label :height 
  = f.text_field :height 

  = f.label :chest 
  = f.text_field :chest 

  = f.label :waist 
  = f.text_field :waist 

  = f.label :hip 
  = f.text_field :hip 

  = f.label :talent 
  = f.text_field :talent 

  = f.label :weight 
  = f.text_field :weight 

  = f.label :languages 
  = f.text_field :languages 

  = f.label :description 
  = f.text_field :description 
  
  = f.submit 


