<p id="notice"><%= notice %></p>

<p>
  <b>Height:</b>
  <%= @model.height %>
</p>

<p>
  <b>Chest:</b>
  <%= @model.chest %>
</p>

<p>
  <b>Waist:</b>
  <%= @model.waist %>
</p>

<p>
  <b>Hip:</b>
  <%= @model.hip %>
</p>

<p>
  <b>Talent:</b>
  <%= @model.talent %>
</p>

<p>
  <b>Weight:</b>
  <%= @model.weight %>
</p>

<p>
  <b>Languages:</b>
  <%= @model.languages %>
</p>

<p>
  <b>Description:</b>
  <%= @model.description %>
</p>


