.col-sm-2.col-md-3.col-lg-3.pading_profile.hidden-xs
	=link_to image_tag(current_user.photo ,:class=>"img-profile") , "#myPicture" , :"data-toggle"=>"modal"
	.list-group
		= link_to "Editar", edit_akira_model_path(current_user), :class=>"list-group-item"

		= link_to "Editar web", edit_akira_user_site_path(current_user, current_user.site), :class=>"list-group-item"
		
		= link_to "Books", akira_user_books_path(current_user), :class=>"list-group-item"

		= link_to "Salir", destroy_user_session_path, :class=>"list-group-item",:method =>:DELETE

.modal.fade#myPicture{:tabindex=>"-1", :role=>"dialog", :"aria-labelledby"=>"myModalLabel", :"aria-hidden"=>"true"}
	.modal-dialog
		.modal-content
			.modal-header
				%h5
					Cambiar su foto de perfil
			.modal-body
				= form_tag akira_user_path(current_user),:multipart => true ,:method => :put  do |f|
					.img-thumbnail
						= image_tag current_user.photo, :class=>"img_upload"
					= fields_for :user do |a|
						.form-group
							= a.file_field :photo, :class=>"form-control"
					.form-group
						.pull-right
							=submit_tag "Cambiar Imagen", :class=>"btn btn-default"


:javascript
	$('#myPicture').on('hidden.bs.modal', function (){
	  // do something…
	});