.row
	.col-xs-12.col-sm-12.col-md-6.col-lg-6
		
	.col-xs-12.col-sm-12.col-md-6.col-lg-6



.row
	.col-xs-12.col-sm-12.col-md-6.col-lg-6
		.form-group
			= f.label :email, "Email"
			= f.text_field :email, :pleceholder =>"Email", :class=>"form-control"

		.form-group
			= f.label :name, "Nombre para mostrar"
			= f.text_field :name, :pleceholder =>"Nombre", :class=>"form-control"
		-if !@model._type == "Agent"
			.form-group
				= f.label :genre, "Genero"
				= f.select :genre ,options_for_select([["Femenino", "female"],["Masculino", "male"]],@model.genre),{},:class=>"form-control"
		.form-group
			= f.label :twitter, "Usuario de twitter"
			.input-group
				%span.input-group-addon.icon-twitter
				= f.text_field :twitter, :pleceholder =>"@username",:class=>"form-control"
		.form-group
			= f.label :instagram, "Usuario instagram"
			.input-group
				%span.input-group-addon.icon-instagramm
				= f.text_field :instagram,:class=>"form-control"
	
	.col-xs-12.col-sm-12.col-md-6.col-lg-6
		.form-group

			=f.label :specialty, "¿Nombre de su profesion?"
			= f.text_field :specialty, :pleceholder =>"Nombre", :class=>"form-control"
		.form-group
			= f.label :ubication, "Ubicacion Actual"
			= f.text_field :ubication, :pleceholder =>"Ubicacion Actual", :class=>"form-control"
		.form-group
			= f.label :subdomain , "Nombre para tu web"
			.input-group
				=	f.text_field :subdomain , :pleceholder =>"Username", :class=>"form-control"
				%span.input-group-addon
					=".isfamous.co"
		.form-group
			= f.label :twitter, "Fanpage Facebook"
			.input-group
				%span.input-group-addon.icon-facebook
				= f.text_field :facebook,:class=>"form-control"
		.form-group
			= f.label :google, "Usuario Google+"
			.input-group
				%span.input-group-addon.icon-gplus
				= f.text_field :google,:class=>"form-control"


.center
	%h3
		Informacion Personal
	%hr
	%br

.row
	.col-xs-12.col-sm-12.col-md-6.col-lg-6
		
.form-group
	= f.label :general_description , "Descripción corta"
	=	f.text_area :general_description , :class => "form-control", :rows => 5
.form-group
	= f.label :professional_description , "Descripción general y profesional"
	=	f.text_area :professional_description , :class => "redactor", :rows => 60, :cols => 120

.center
	%h3
		Categorias
	%hr
.row
	-for tag in Tag.all
		.col-xs-12.col-sm-12.col-md-6.col-lg-6
			.checkbox
				= label_tag tag.name
				= check_box_tag "model[tag_ids][]" , tag.id, @model.tags.include?(tag)
			

	



	
