.row
	.col-sm-12.col-md-10.col-lg-10.content_site
		%h4
			Books
		.row.books_index
			.col-sm-12.col-md-6.col-lg-6
				.thumbnail
					= image_tag "http://www.entremodelos.com/includes/image_crop_thumb.php?src=http://www.entremodelos.com/images/users/victoria_1374659678.jpg&w=290&h=472"
			.col-sm-12.col-md-6.col-lg-6
				.thumbnail
					= image_tag "http://img23.fansshare.com/media/content1/550x298_miranda-kerr-confirms-victoria-s-secret-departure-rumors-3550.jpg"
			.col-sm-12.col-md-6.col-lg-6
				.thumbnail
					= image_tag "http://placehold.it/550x300"
			.col-sm-12.col-md-6.col-lg-6
				.thumbnail
					= image_tag "http://placehold.it/550x300"
			.col-sm-12.col-md-6.col-lg-6
				.thumbnail
					= image_tag "http://placehold.it/550x300"
			.col-sm-12.col-md-6.col-lg-6
				.thumbnail
					= image_tag "http://placehold.it/550x300"
			.col-sm-12.col-md-6.col-lg-6
				.thumbnail
					= image_tag "http://www.entremodelos.com/includes/image_crop_thumb.php?src=http://www.entremodelos.com/images/users/victoria_1374659678.jpg&w=290&h=472"
			.col-sm-12.col-md-6.col-lg-4
				.thumbnail
					= image_tag "http://placehold.it/550x300"
