<%= form_for @book, url: akira_books_path do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :localitation %><br />
    <%= f.text_field :localitation %>
  </div>
  <div class="field">
    <%= f.label :photographer %><br />
    <%= f.text_field :photographer %>
  </div>
  <fieldset>
    <%= f.fields_for :pictures do |picture| %>
      <%= picture.file_field :url %>
    <% end -%>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
