<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>Description:</b>
  <%= @book.description %>
</p>

<p>
  <b>Localitation:</b>
  <%= @book.localitation %>
</p>

<p>
  <b>Photographer:</b>
  <%= @book.photographer %>
</p>
<ul class="small-block-grid-4">
	<%= @book.pictures.each do |f|%>
		<li><%= image_tag f.url%></li> 
	<% end -%>
</ul>
