#container
	.row
		.col-sm-12.col-md-8.col-lg-8
			%article.item_portfolio.col-sm-12.col-md-12.col-lg-12
				.portfolio
					%figure.center
						= image_tag @user.photo
			.col-sm-12.col-md-12.col-lg-12
				.portfolio
					%p
						%span.icon-direction
							=@user.ubication
						|
						%span.icon-briefcase
							=@user.specialty
						%hr
						= @user.general_description
						%br
						= (@user.professional_description).html_safe
  
		%article.item_portfolio.col-sm-12.col-md-4.col-lg-4
			.portfolio
				%h4
					Tags
				- @user.tags.each do |f|
					= f.name
					= " - "
		
		-if @user._type == "Model"
			%article.item_portfolio.col-sm-12.col-md-4.col-lg-4
				.portfolio
					Hola:w


		%article.item_portfolio.col-sm-12.col-md-4.col-lg-4
			.portfolio
				%h4
					Books
				.row
					- @user.books.each do |f|
						.col-sm-12.col-md-6.col-lg-6
							= image_tag f.front_url(:thumb) ,:class =>"img_"
