#container
	.row
		.col-sm-12.col-md-8.col-lg-8
			%article.item_portfolio.col-sm-12.col-md-12.col-lg-12
				.portfolio
					%figure.center
						= image_tag @user.photo
			.col-sm-12.col-md-12.col-lg-12
				.portfolio
					%p
						%h3
							=@user.name
						%span.icon-direction
							=@user.ubication
						|
						%span.icon-briefcase
							=@user.specialty
						%hr
						= @user.general_description
						%br
						= @user.professional_description
		%article.item_portfolio.col-sm-12.col-md-4.col-lg-4
			.portfolio
				%span.icon-picture-1
					= link_to "#{@user.subdomain}.isfamous.co", root_url(:subdomain => current_user.subdomain)
				%br
				%span.icon-facebook-circled
					=link_to "facebook.com/#{@user.facebook}", 'facebook.com/#{@user.facebook}'
				%br
				%span.icon-twitter-circled
					=link_to "twitter.com/#{@user.twitter}", 'twitter.com/#{@user.twitter}'
				%br
				%span.icon-instagramm
					=link_to "instagram.com/#{@user.instagram}", '"instagram.com/#{@user.instagram}"'

		%article.item_portfolio.col-sm-12.col-md-4.col-lg-4
			.portfolio
				%h4
					Tags
				- @user.tags.each do |f|
					= f.name
					= " - "

		%article.item_portfolio.col-sm-12.col-md-4.col-lg-4
			.portfolio
				%h4
					Books
				.row
					- @user.books.each do |f|
						.col-sm-12.col-md-6.col-lg-6
							= image_tag f.front , :class =>"img_"
