= f.fields_for :site do |site|
	.row.center
		%h3
			Informacion General

	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			.form-group
				=site.label :tile, "Titulo"
				=site.text_field :title , class: "form-control", pleaceholder: "Titulo"		

			.form-group
				= f.label :subdomain , "Nombre de su web"
				.input-group

					=	f.text_field :subdomain , :pleceholder =>"Username", :class=>"form-control"
					%span.input-group-addon
						=".isfamous.co"
			.form-group
				= site.label :logo
				= site.file_field :logo, class: "form-control", :pleceholder =>"Ubicacion Actual"	
			.form-group
				=site.label :bg , "Seleciona La imagen de fondo de ti sitio web"
				= site.file_field :bg,  class: "form-control"
		
	.row
		.col-xs-12.col-sm-12.col-md-12.col-lg-12
			.form-group
				= site.label :description , "Description"
				=	site.text_area :description , :pleceholder =>"Sobre ti", :class=>"form-control", :rows => 4

