<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">Top Bar Title </a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="right">
      <li>
        <%= link_to "Home", root_path%>
      </li>
      <li>
        <%= link_to "Trabajos"%>
      </li>
      <li>
        <%= link_to "portafolios" , users_path %>
      </li>
      <% if user_signed_in? %>
      <li>
        <%= link_to 'Profile', root_path %>
      </li> 
        <li>
          <%= link_to 'Books', books_path %>
        </li>
        <li>
          <%= link_to 'Edit account', edit_user_registration_path %>
        </li>
      <% else %>
        <li>
        <%= link_to 'Login', new_user_session_path %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li>
        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
        </li>
      <% else %>
        <li>
        <%= link_to 'Register',new_user_registration_path %>
        </li>
      <% end %>
    </ul>
    </ul>

  </section>
</nav>