<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "IsFamous" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  </head>

  <body class="<%= params[:controller] %>">
   <%= render "layouts/nav_white"%>
    <div class="wrap">
    <div class="container">
      <div class="row">
      <%= render "users/profile" , user: current_user %>
        <%= yield %>
      </div>
    </div>
      
    </div>
    <%= render 'layouts/footer' %>
    
    <% if current_user._type == "none" %>

    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <div class="modal-body">
            <%=form_for(current_user, :url => akira_model_path(current_user),:as => :model) do |f|%>
                <div class="form-group">
                   <%= f.label :_type, "Selecione el tipo de Usuario"%>  
                    <%= f.select :_type ,options_for_select([["Profesional", "Professional"],["Compañia o Agencia", "Agent"], ["Modelo", "Model"]],current_user._type),{},:class=>"form-control input-lg" %>
                </div>
     
            <% end -%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info  btn-lg">Guardar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <% end -%>
  </body>


<script type="text/javascript">
  $('#myModal').modal({
    keyboard: false,
    show: true,
    backdrop: 'static'
  })
</script>
</html>
